{
    "extends": "cleanjs",
    "rules": {
        "import/no-commonjs": [
            0
        ],
        "fp/no-mutation": [
            "error",
            {
                "commonjs": true
            }
        ]
    },
    "overrides": [
        {
            "files": [
                "*.test.js"
            ],
            "rules": {
                "fp/no-unused-expression": "off",
                "fp/no-nil": "off",
                "better/no-new": "off",
                "better/explicit-return": "off"
            }
        }
    ]
}
